# Solana cluster
SOLANA_CLUSTER=devnet
ANCHOR_PROVIDER_URL=https://api.devnet.solana.com
ANCHOR_WALLET=~/.config/solana/id.json

# Deployed program
PROGRAM_ID=

# PDAs (derived after deploy + init)
CONFIG_PDA=
VAULT_AUTHORITY_PDA=

# SPL token (created by initialize-config script)
TOKEN_MINT=
VAULT_TOKEN_ACCOUNT=
TOKEN_DECIMALS=6

# Authorities
ADMIN_PUBKEY=
BACKEND_SIGNER_PUBKEY=

# Config params
FAUCET_CLAIM_AMOUNT=1000000000
SESSION_EXPIRY_DELAY=86400
